In [1]:
import numpy as np
import pandas as pd

In [4]:
yellow_raw = pd.read_csv("yellow_tripdata_2014-05-small.csv")
yellow_raw.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2014-05-07 09:33:52,2014-05-07 09:52:36,1,1.80,-73.977133,40.747167,1,N,-73.981178,40.765351,CRD,12.5,0.0,0.5,2.60,0.0,15.60
1,VTS,2014-05-17 22:59:00,2014-05-17 23:09:00,1,2.79,-73.972897,40.743702,1,NaN,-73.987187,40.722415,CRD,11.0,0.5,0.5,0.00,0.0,12.00
2,VTS,2014-05-10 01:14:00,2014-05-10 01:23:00,2,2.60,-73.947613,40.775355,1,NaN,-73.975252,40.751955,CRD,10.0,0.5,0.5,2.62,0.0,13.62
3,CMT,2014-05-19 19:33:02,2014-05-19 19:36:39,1,0.80,-73.992872,40.743114,1,N,-73.993951,40.749203,CRD,5.0,1.0,0.5,1.62,0.0,8.12
4,CMT,2014-05-10 16:43:45,2014-05-10 16:53:36,3,1.80,-73.951445,40.793820,1,N,-73.958757,40.809735,CSH,9.0,0.0,0.5,0.00,0.0,9.50

In [6]:
yellow_raw.columns

Index(['vendor_id', ' pickup_datetime', ' dropoff_datetime',
       ' passenger_count', ' trip_distance', ' pickup_longitude',
       ' pickup_latitude', ' rate_code', ' store_and_fwd_flag',
       ' dropoff_longitude', ' dropoff_latitude', ' payment_type',
       ' fare_amount', ' surcharge', ' mta_tax', ' tip_amount',
       ' tolls_amount', ' total_amount'],
      dtype='object')

In [3]:
from uszipcode import ZipcodeSearchEngine
search = ZipcodeSearchEngine()

In [13]:
query_result = yellow_raw.apply(lambda row: search.by_coordinate( \
                    row[' pickup_latitude'], row[' pickup_longitude'], radius=1,returns=1) , axis=1)
zips = query_result.apply(lambda z: z[0]['Zipcode'] if len(z) > 0 else 'missing')
zips.name = 'zipcode'
yellow_with_zip = yellow_raw.join(zips)
yellow_with_zip.head(10)
yellow_with_zip.shape

(10000, 19)

In [14]:
sum(zips == 'missing') # => 277
yellow_with_zip = yellow_with_zip.loc[yellow_with_zip['zipcode'] != 'missing',:]
yellow_with_zip.shape

(9723, 19)

In [15]:
yellow_with_zip.to_csv("yellow_tripdata_2014-05-small_with-zip.csv", encoding='utf-8', index=False)