### Train/Dev/Test sets
Dev and Test sets should contain the most recent data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from utils import geoutils
from utils import datautils

In [3]:
df = datautils.read_rides('data/yellow_tripdata_2014-01_tiny.csv')
df.head()

      pickup_datetime  pickup_longitude  pickup_latitude
0 2014-01-18 22:36:13        -73.990877        40.750783
1 2014-01-12 12:42:00        -73.994100        40.751167
2 2014-01-28 14:51:15        -73.968091        40.755421
3 2014-01-09 12:10:06        -73.874517        40.774069
4 2014-01-26 14:48:19        -73.862778        40.768718